[Unit]
Description=The service of WiFiHelper
After=wpa.service
Requires=wpa.service

[Service]
EnvironmentFile=/etc/wifihelper.conf
ExecStart=/usr/bin/wifihelper
Restart=on-failure

[Install]
WantedBy=multi-user.target
